# MongoDB Connection
MONGODB_URI=mongodb+srv://LakshithaGG:<db_password>@cluster0.oq2okha.mongodb.net/miniLinkedIn?appName=Cluster0

# Firebase Admin SDK - Path to your service account key JSON file
FIREBASE_SERVICE_ACCOUNT_PATH=./config/serviceAccountKey.json

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Groq API Key
GROQ_API_KEY=your_groq_api_key

# Server Port
PORT=5000
